# /etc/systemd/system/infodisplay.service
# I2C info display service daemon

[Unit]
Description=Info Display Service Daemon
# Before=multi-user.target
# Before=sysinit.target

[Service]
Type=simple
User=scout
Group=scout
WorkingDirectory=/opt/scout/infodisplay
Environment=PATH=/opt/scout.python.env/bin:$PATH
ExecStart=/opt/scout/infodisplay/infoDisplay.py
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=sysinit.target
